{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>{{name}} {{lastname}}`s resume</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Steller main styles -->
    <link rel="stylesheet" href="{% static 'css/steller.css' %}">
</head>
{% block content %} 
    
{% endblock %}
<footer class="page-footer">
    <div class="container">
        <div class="row align-items-center">
           
                </p>
            </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End of page footer -->

<!-- core  -->
<script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>
<!-- bootstrap 3 affix -->
<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

<!-- steller js -->
<script src="{% static 'js/steller.js' %}"></script>

</body>

</html>